@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --brand-light-purple: #d8cfff;
    --brand-dark-purple: #2c2a3a;
    --brand-pink: #ff80bf;
    --brand-lime: #d4ff80;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  scroll-behavior: smooth;
}

/* Optional: Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #1a202c;
}
::-webkit-scrollbar-thumb {
  background-color: #8a2be2;
  border-radius: 20px;
  border: 2px solid #1a202c;
}
